html{
	background: white;
}
.top{
	position:fixed;
	text-align: center;
}	
.logo{
	position:fixed;
	margin-right:auto; 
	margin-left:30%;
	margin-top: 225px;


}

.projects{
	padding-top: 500px;
}

#my_photo{
	border-radius: 25%;
	float:left;
	height: 300px;
	width: 300px;
	margin-top: 500px;
}
.photo{
	margin-top: 500px;
}

#home_paragraph{
	width:90%;
	margin-top: 500px;
}
#nav_bar{
	border-radius: 20px;
	padding: 5px;
	background-color: turquoise;
}

.nav_cells{
	padding: 10px;
	border: 0px solid aqua;
	border-radius:20px;
	background-color: aqua;
}
.image_header{
	position: fixed;
	height: 300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#logo{
	border-radius: 100%

}

.my_photo{
	margin-top: 575px;
	margin-right:50%; 
	margin-left:40%;
	width: 200px;
	height: 350px;
}


#github{
	height: 90px;
	width: 90px;
	border-radius: 100%;
}
#linkedin{
	height: 100px;
	width: 100px;
	border-radius: 5%;
}
#twitter{
	height: 68px;
	width: 68px;
	border-radius: 10%;

}
#blog{
	height: 90px;
	width: 90px;
	border-radius: 100%;
}

