html{background-color: white;}

.gyros{
	width: 600px;
	height: 250px;
}

table{
	width: 600px;
}
body{
	position:relative;
	margin-left: 33%;
	margin-right: 33%;
	width: 600px;
}
code{
  font-family: Courier;
  background-color: #33CC33;
  padding: 0px 8px 1px 8px;
  margin: 1px;
  color: white;
  width: 600px;
}


.paragraphs{
	width: 600px;
}

.paragraph_image{
	width: 600px;
	height: 600px;
}
#small_picture{
	width: 400px;
	height: 400px;
}